.mesProjets{

    .projects__h1 {
        margin:  5% 10% ;
    }
.projects {
    margin: 5% 15%;

    
    .projects__position {
        display: flex;
        margin-top: 2%;
       justify-content: space-between
    }
}
}
